@media (min-width: 920px) {

/* for navbar */
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
padding: 0;
margin-left: 2vw;
margin-right: 2vw;
  }
  #Logo {
    max-width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-brand {
    display: none;
  }
nav a{
  vertical-align: middle;
  font-size: 1.5rem;
}
nav li{
  padding-left: 2vw;
  padding-right:2vw;
  display:flex;
  justify-content:center;
  align-items:center;
}


main h1, main p{
  text-align: center;
}
main a{
  display: block;
margin-left: auto;
width: 5vw;
margin-right: 4vw;
}
}

}

@media (max-width: 920px) {
  /*things that should be gone in small format */
  .logo, #breadcrum {
    display: none;
  }
}
